<!doctype html>
<html lang="en">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <title>Hello, world!</title>
    </head>
    <body>
        <div  class="m-0 vh-100 row justify-content-center align-items-center">
            <div class="col-auto p-5 text-center border border-primary">
                <div>
                    <p class="h1" style="font-size: 80px;">Imperius</p>
                    <img src="./static/imagen.jpg" style="width: 800px; height: 500px;">
                </div>
                <div class="row mt-5">
                    <div class="col">
                        <a href="./static/Documentacion.pdf"  class="btn btn-primary btn-lg" download="Reporte2Mayo2010">
                            Descargar documentacion  <i class="bi bi-download"></i>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/imperius/" class="btn btn-primary  btn-lg" >Entrar <i class="bi bi-box-arrow-in-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>
</html>
