<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <!-- Load Vue followed by BootstrapVue -->
        <!-- <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script> -->
        <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
        <!-- Load the following for BootstrapVueIcons support -->
        <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
        <title>Hello, world!</title>
    </head>
    <body style="background-color: rgba(0, 49, 82, 0.932);">
        <main>
            <section id="app">
                <div class="container-fluid text-center" style="background-color: rgb(182, 182, 182);">


                </div>
                <div class="container shadow p-3 mb-5 bg-light rounded " >

                    <!--***************Primera fila visualizacion y operadores**************-->
                    <div class="row">
                        <!--Aqui se visualizaran los cambios de las imagenes-->
                        <div class="container col-5 ">
                            <h3>Vista previa de las imagenes</h3>
                            <div v-html="resultado_imagen" class= "col" ></div>
                        </div>
                        <!--Aqui se visualizaran los cambios de las imagenes-->
                        
                        <!--##########################################################-->
                        <!--Aqui se visualizaran la lista de los operadores-->
                        <div class="col"  style="height: 500px;">
                            <template> 
                                <div  class="mx-auto d-block  col-10">
                                    <div class="alert alert-warning" role="alert" v-if = "showWarning">
                                        [[info]]
                                    </div>
                                    <div class="alert alert-success" role="alert"  v-if = "showSuccess">
                                        [[info]]
                                    </div>
                                    <div class="alert alert-danger" role="alert" v-if = "showDanger">
                                        [[info]]
                                    </div>
                                    <button class="btn btn-outline-danger" v-on:click.prevent="limpiarMemoria">Limpiar memoria</button>
                                    <h3 >Busca el operador que deseas</h3>
                                    <b-form-select class="form-control " v-model="seleccion" @change="editar(seleccion)"  :options="operadores" ></b-form-select>
                                </div>
                            </template>
                            
                            <div class="mx-auto d-block col-10" v-if = "mostrarForm">
                                <div> 
                                    <div class="form-group" v-if ="showList[1].value">
                                        <input type="file" accept=".png, .jpg" class="form-control mt-3 col" id="file" name="importfile" @change="ImageLoad($event)" />
                                    </div>
                                    <div class="form-group mt-3">
                                        <label class="form-control-label h3" >Identificador </label>
                                        <input type="text" class="form-control col"  placeholder="Identificador"  v-model="identificador" />
                                    </div>
                                    <!--<input type="range" min="0" max="100" step="1" v-model="valueRg" @change="OperatorMenu(seleccion)" v-if ="showList[4].value" >-->
                                    <button type="button" class="btn btn-success mt-3 col" v-on:click.prevent="OperatorMenu(seleccion)"  >Cargar</button>
                                </div> 
                            </div>
                            

                        </div>
                        
                        <!--Aqui se visualizaran la lista de los operadores-->
                        <!--##########################################################-->
                    </div>
                    <!--***************Fin Primera fila visualizacion y operadores**************-->
                    <!--***************Segunda fila pseudocodigo y variables**************-->
                    <div class="row">
                        <div class="col bg-success" style="height: 500px;">Aqui se veran las variables</div>
                        <div class="table-responsive col-7" style="height: 500px;">
                            Aqui el pseudocodigo
                                <table class="table table-hover table-bordered">  
                                    <thead class="thead-dark">
                                        <tr>     
                                            <th scope="col">#</th>
                                            <th scope="col">Operador</th>
                                            <th scope="col">Valores</th>
                                            <th scope="col">Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="rows in registro">
                                            <td v-for ="item in rows" style="white-space:pre"> <p>[[ item ]]</p></td>
                                            <td>
                                                <button class="btn btn-outline-primary" v-on:click="Agregar(rows)"><i class="bi bi-plus-circle"></i></button>
                                                <button class="btn btn-outline-secondary"><i class="bi bi-pen"></i></button>
                                                <button class="btn btn-outline-danger" v-on:click="EliminarOperador(rows)" ><i class="bi bi-trash"></i></button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>    
                        </div>
                    </div>
                </div>
            </section>
            
        </main>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script type="text/javascript">
        new Vue({
            delimiters:['[[',']]'],
            el: '#app',
            data: {
                message: 'Hello Vue!',
                seleccion: null,
                operadores:[{
                    value: null,
                    text : "Seleccione una opcion"
                }],
                showList:[{
                    value : false ,       
                    text : "Seleccione una opcion"
                }],
                imagenOriginal : null,
                btnloadimage : false,
                info: "",
                resultado_imagen:null,
                existe_original:false,
                registro : [],
                showDanger:false,
                showSuccess:false,
                showWarning:false,
                identificador:"",
                var_grises:"",
                opAgregar : false,
                mostrarForm : false,
                valueRg : 50

            },
            mounted(){
                // invocar los métodos
                this.OperatorData();
            },
            methods :{
                cambio(){
                    console.log("duhciusdh");
                },
                OperatorMenu(x){
                    var that = this;
                    var url ="";
                    var opcion = x +1;
                    switch (opcion) { 
                        case 1:
                            console.log("cargar imagen");
                            url = "http://127.0.0.1:5000/cargar_image";
                            that.funCargaImage(url);
                            break 
                        case 2: 
                            console.log("escala de grises");
                            url = "http://127.0.0.1:5000/escala_grises";
                            that.operarImagen(url);
                            break 
                        case 3:
                            url = "http://127.0.0.1:5000/detectar_bordes";
                            that.operarImagen(url);
                            break 
                        case 4:
                            url = "http://127.0.0.1:5000/blur";
                            that.operarImagen(url);
                            break 
                        case 5: 
                            break 
                        case 6: 
                            break 
                        default: 
                    }
                    console.log("Listos para consultar el Api");
                    console.log("Se presiona "+that.showList[x+1].text );

                },
                OperatorData: function () {
                    var that = this;
                    that.mostrarForm = that.showList[0].value;
                    console.log("Entramos a esta funcion");
                    urlapi = "http://127.0.0.1:5000/operators";
                    axios({
                        method: 'POST', 
                        url: urlapi,
                    }).then(function(response){
                        var oper = response.data["operator"];
                        for (let i = 0; i < oper.length; i++) {
                            that.operadores.push({
                                value: i, 
                                text: oper[i], 
                            });    
                            that.showList.push({
                                value: i, 
                                text: oper[i] 
                            });    
                        }
                    }).catch(function(error){
                        that.info = error;
                    });
                },
                filtrar(i){
                    if(i.length >0){
                        var array = [];
                        var arrayFinal = [];
                        var valores = "";
                        var nameImage = "";
                        var operador ="";
                        for (var j = 0; j < i.length; j++){
                            var vector = i[j];
                            var ruta = vector[1][1];
                            ruta = ruta.split("").reverse().join("");
                            nameImage = "";
                            for (var k = 0; k < ruta.length; k++){
                                if ((ruta.charAt(k) == "/") || (ruta.charAt(k) =="//")){
                                    break;
                                }
                                nameImage= nameImage + ruta.charAt(k);
                            }
                            nameImage = nameImage.split("").reverse().join("");
                            operador = vector[3][1];
                            operador = "\n\n"+operador.substring(0, (operador.length));
                            valores ="{\n\t"+vector[0][0]+": "+vector[0][1]+"\n \t"
                            +vector[1][0]+": "+nameImage+"\n \t"
                            +vector[2][0]+": "+vector[2][1]+"\n \t"
                            +vector[3][0]+": "+vector[3][1]+"\n}";
                            array.push("\n\n"+j);        
                            array.push(operador);
                            array.push(valores);
                            arrayFinal.push(array);
                            array = [];
                        }
                        return arrayFinal;    
                    }
                },
                
                Agregar(){
                    var that = this;
                    that.opAgregar = true; 
                    that.showWarning = true;
                    that.info = "Puedes ocupar este formulario para agregar un nuevo caacter ";
                },
                editar (x) {
                    var that = this;
                    that.identificador = "";
                    //Tenemos que poner false a todo de nuevo
                    for (var i = 0; i < that.showList.length; i++) {
                        that.showList[i].value = false;
                    }
                    that.showList[x+1].value = true;
                    that.mostrarForm = that.showList[x+1].value;
                },
                ImageLoad(event) {
                    this.btnloadimage = false;
                    this.imagenOriginal = event.target.files[0];
                    if (this.imagenOriginal != null ){
                        this.btnloadimage = true;
                    }
                },
                funCargaImage(url){
                    var that = this;
                    if (that.identificador !=""){
                        that.registro = []
                        that.existe_original = false;
                        var bodyFormData = new FormData();
                        bodyFormData.append('file',  that.imagenOriginal); 
                        bodyFormData.append('identificador' , that.identificador);
                        urlapi = url;
                        axios({
                            method: 'POST', 
                            url: urlapi,
                            data: bodyFormData,
                        }).then(function(response){
                            that.resultado_imagen = response.data["img_Orginal"];
                            that.registro = response.data["registro"];
                            that.registro = that.filtrar(that.registro);
                            that.existe_original = true;
                        }).catch(function(error){
                            that.info = error;
                        });
                    }else{
                        that.showWarning = true;
                        that.info = "Escribe un identificador sin espacios de esta forma   identificador_uno ";
                    }
                },
                operarImagen(url){
                    var that = this;
                    if (that.existe_original){
                        if (that. identificador!=""){
                            var bodyFormData = new FormData();
                            bodyFormData.append('identificador' , that.identificador);
                            urlapi = url;
                            axios({
                                method: 'POST', 
                                url: urlapi,
                                data: bodyFormData,

                            }).then(function(response){
                                that.resultado_imagen = response.data["imagen"];
                                that.registro = response.data["registro"];
                                that.registro = that.filtrar(that.registro);
                                that.info = "";
                            }).catch(function(error){
                                that.info = error;
                            });
                        }else{
                            that.showWarning = true;
                            that.info = "Escribe un identificador sin espacios de esta forma   identificador_uno ";
                        }
                    }else{
                        that.showWarning = true;
                        that.info = "No existe la imagen utilize el operador cargar imagen"
                    }
                },
                limpiarMemoria(){
                    var that = this;
                    urlapi = "http://127.0.0.1:5000/limpiar_memoria";
                    axios({
                        method: 'POST', 
                        url: urlapi
                    }).then(function(response){
                        that.registro = response.data["registro"];
                        that.info = "";
                    }).catch(function(error){
                        that.info = error;
                    });
                }, 
                EliminarOperador(x){
                    var that = this;
                    var bodyFormData = new FormData();
                    bodyFormData.append('posicion' ,x[0]);
                    urlapi = "http://127.0.0.1:5000/eliminar_operador";
                    axios({
                        method: 'POST', 
                        url: urlapi,
                        data: bodyFormData,
                    }).then(function(response){
                        that.registro = response.data["registro"];
                        that.registro = that.filtrar(that.registro);
                        that.info = "";

                    }).catch(function(error){
                        that.info = error;
                    })
                },
                AgregarAbajo(x){
                    console.log("Aqui vamos agregar mas datos");
                },
                

            }
        });
        </script>
    </body>
</html>

